@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERALI */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: #1f2b32;
  --color-secondary: #00453e;
  --color-accent: #ec9929;
  --color-accent2: #385157;
  --font-base: "Inter", sans-serif;
  --font-heading: "GeistSans", sans-serif;
  --font-mono: "GeistMono", monospace;
  --spacing-unit: 1rem;
}

html,
body {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: large;
  font-weight: bold;
}

b {
  color: var(--color-accent);
}

a:not(.no-underline) {
  color: var(--color-accent);
  text-decoration: underline;
}

[id] {
  scroll-margin-top: 80px;
}

div.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-unit);
}

/* SCHEDE CONTENUTI BLOG */

.tag {
  background-color: #e5e7eb;
  color: #374151;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #d1d5db;
}

/* BIBLIOGRAFIA NEGLI ARTICOLI */

.bibliography {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bibliography li {
  display: flex;
  align-items: flex-start;
  padding-bottom: 8px;
  counter-increment: li;
  gap: 12px;
}

.bibliography li::before {
  content: counter(li);
  color: white;
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.bibliography li p {
  margin: 0;
}

.citation {
  display: inline;
  font-size: 0.9em;
  color: var(--color-accent);
}
